<.header>
  New Web page
  <:subtitle>Use this form to manage web_page records in your database.</:subtitle>
</.header>

<.web_page_form changeset={@changeset} action={~p"/web_pages"} />

<.back navigate={~p"/web_pages"}>Back to web_pages</.back>
