<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:url]} type="text" label="URL" />
  <:actions>
    <.button>Save Web page</.button>
  </:actions>
</.simple_form>
